@import "~bootstrap/scss/bootstrap.scss";

// WHOLE PAGE
*:focus {
  box-shadow: 0 0 0 0.2rem yellow !important;
  border-color: gold !important;
}

header {
  padding-top: 50px;
  padding-bottom: 50px;

  color: white;
  text-shadow: 0px 0px 5px black;
  font-weight: bolder;

  h1 {
    font-size: 100px;
  }
  h2 {
    font-size: 50px;
  }
}

main {
  text-align: start;

  h1 {
    margin-bottom: 50px;
  }

  h2 {
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: start;
  }
}

h1,
h2 {
  text-align: center;
  color: gold !important;
}

body {
  position: relative;
}

body > div:first-child {
  background-image: url("../../assets/img/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;

  padding-bottom: 100px;
  min-height: 100vh;

  scroll-behavior: smooth;
}

.whiteOutline {
  background-image: linear-gradient(
    to bottom right,
    rgba(200, 200, 200, 0.9),
    #f0f0f0 25%,
    rgba(200, 200, 200, 0.9) 150%
  );
  border: 1px solid #d9d9d9;
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
}

.gradientBackground {
  background-image : linear-gradient(to bottom right, rgba(200, 208, 250, 0.7), #ccc 25%, rgba(255, 238, 237, 0.7) 150%);
}

#scrollTop {
  position: fixed;
  right: 5px;
  bottom: 5px;

  fill: gold;

  transition: bottom 0.3s linear, opacity 0.3s linear;
}

// ----------- SEARCH BOX -----------
#searchWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchBar {
  border-right-width: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#searchButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 10%;
  margin-bottom: 10%;

  h3 {
    color: gold;
    text-shadow: 0px 0px 1px black;
    text-align: center;
    margin-bottom: 20px;
  }
}

// ----------- SEARCH RESULTS -----------
#searchResultSection {
  color: black;

  .searchResult {
    cursor: pointer;

    border: 2px solid gray;
    border-radius: 5px;
    background-color: gray;

    padding: 10px;
    margin: 5px;

    display: flex;
    justify-content: space-between;

    transition: 0.5s;
    &:hover {
      transition: 0.5s;
      background: white;
      box-shadow: 0px 0px 10px 5px black;
    }

    p {
      margin: 5px;
    }
  }

  .hiddenBelowMd {
    @extend .d-none;
    @extend .d-md-block;
  }

  .truncateOverflow {
    max-height: 12em;
    overflow: hidden;
  }
}

.movieTitle {
  text-overflow: ellipsis;
  overflow: hidden;
}

.moviePoster {
  width: 150px;
  box-shadow: 0px 0px 15px black;

  @include media-breakpoint-down(sm) {
    margin: 10px;
  }
}

.movieStar {
  width: 25px;
  height: 25px;
  fill: #ffff00;
}

// ----------- PAGINATION -----------
.pagination {
  padding-top: 15px;
}

.page-item.active .page-link {
  background-color: gold;
  border-color: gold;
}

.page-link {
  font-weight: bold;
  background: white;
  color: gold;

  &:hover {
    background: transparent;
  }
}

// ----------- FOOTER -----------
footer {
  margin-top: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding: 10px;

  a {
    color: gold;
    font-weight: bolder;
    text-shadow: 0px 0px 1px black;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      color: #0056b3;
    }
  }
}

.verticalLine {
  content: "";
  height: 1rem;
  border: 1px solid darkslategray;
  margin-left: 10%;
  margin-right: 10%;
}

#socialMediaContainer {
  a:focus svg {
    fill: #0056b3;
  }

  svg {
    width: 30px;
    height: 30px;
    fill: gold;
  }
}

footer svg:hover {
  fill: #0056b3 !important;
}

// ------ MODAL ------
.modal-title {
  font-weight: bold;
  color: gold;
}

.modal-header,
.modal-footer {
  background: linear-gradient(to bottom right, gray, darkgray);
}

.modal-body {
  cursor: url(../../assets/img/cursor.svg), pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: justify;
  background: linear-gradient(to top left, gray, darkgray);
}

// recolored modal for trending movies
.trending {
  .modal-title {
    color: white;
  }

  .modal-header,
  .modal-footer {
    background: linear-gradient(to bottom right, gold, darkgoldenrod);
  }

  .modal-body {
    background: linear-gradient(to top left, gold, darkgoldenrod);
  }
}

.modal-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modal-footer .col {
  padding: 0;
}

.loading {
  animation: loader 0.5s;
}

@keyframes loader {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}

// ------ CAROUSEL ------
.carousel {
  width: 75%;
}

.slide {
  position: relative;
  margin: 10px;
  max-width: 170px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: beige;
  border-radius: 10px;

  cursor: pointer;

  & .moviePoster {
    margin: 0;
  }
}

// ------ GENRE TABS -------

.nav-tabs {
  font-size: 1.25rem;

  .nav-link.active {
    background-color: gold;
    border-color: gold;
  }

  .nav-link {
    font-weight: bold;
    background-color: white;
    border-color: black;
    color: gold;

    &:hover {
      background-color: white;
      border-color: gold;
    }
  }
}

.tabContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin: 20px;

  background-position: center;
  background-size: cover;
  position: relative;

  border-radius: 50px;

  // add a quasi-blur effect to the backdrop
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(200, 200, 200, 0.75);
    z-index: 0;

    border-radius: 50px;
  }

  &:nth-child(2n) {
    border-top-right-radius: 0;

    &::before {
      border-top-right-radius: 0;
    }
  }

  &:nth-child(2n + 1) {
    border-top-left-radius: 0;

    &::before {
      border-top-left-radius: 0;
    }

    flex-wrap: wrap-reverse;

    .moviePoster {
      order: 1;
    }

    .movieTitle {
      order: 2;
    }
  }

  .movieTitle {
    text-align: center;
    z-index: 1;
    margin: 10px;
  }

  .moviePoster {
    clip-path: circle(40%);
    box-shadow: none;
  }
}

// -------- FILM.HTML ---------
#moviePage {
  padding: 20px;

  .searchResult {
    justify-content: center;
  }

  .moviePoster {
    width: 200px;
  }
}