<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
  <link rel="icon" href="../favicon.ico" type="image/x-icon">

  <!-- Primary Meta Tags -->
  <title>AlloCine Clone - TP4 Simplon</title>
  <meta name="title" content="AlloCine Clone - TP4 Simplon">
  <meta name="description"
    content="L'objectif : reproduire un site tel AlloCine, permettant de chercher des films, les filtrer, voir des détails...">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://juliesouchet.online/TP/tp4-simplon-allocine/dist/index">
  <meta property="og:title" content="AlloCine Clone - TP4 Simplon">
  <meta property="og:description"
    content="L'objectif : reproduire un site tel AlloCine, permettant de chercher des films, les filtrer, voir des détails...">
  <meta property="og:image"
    content="https://juliesouchet.online/TP/tp4-simplon-allocine/dist/c2f63b1a0bf1c61fb5e04ac6e2adb775.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://juliesouchet.online/TP/tp4-simplon-allocine/dist/index">
  <meta property="twitter:title" content="AlloCine Clone - TP4 Simplon">
  <meta property="twitter:description"
    content="L'objectif : reproduire un site tel AlloCine, permettant de chercher des films, les filtrer, voir des détails...">
  <meta property="twitter:image"
    content="https://juliesouchet.online/TP/tp4-simplon-allocine/dist/c2f63b1a0bf1c61fb5e04ac6e2adb775.png">
</head>

<body>
  <div>
    <header id="viewTop">
      <a href="index">
        <h1>A L L O C I N E</h1>
        <h2>(C L O N E)</h2>
      </a>
    </header>

    <div id="searchWrapper">
      <!-- large search box, that automatically creates a list containing the results of the query -->
      <div class="banner whiteOutline gradientBackground">
        <h3>Envie d'un film spécifique ?</h3>
        <div class="row w-100 justify-content-center">
          <input id="searchBar" type="search" name="entrez un nom de film" v-model="name" placeholder="je recherche..."
            class="form-control col-9" autofocus>
          <!-- search icon -->
          <button class="btn btn-warning" id="searchButton">
            <span class="input-group-text sr-only">Envoyer</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="30" width="30" viewBox="0 0 512 512">
              <path
                d="M310 190a10 10 0 1 0 0 20 10 10 0 1 0 0-20zm190.3 253.7L366.8 310.2A198 198 0 0 0 400 200C400 89.7 310.3 0 200 0S0 89.7 0 200s89.7 200 200 200a198 198 0 0 0 110.2-33.2l133.5 133.5c7.6 7.6 17.6 11.7 28.3 11.7a40 40 0 0 0 28.3-11.7c7.6-7.5 11.7-17.6 11.7-28.3a40 40 0 0 0-11.7-28.3zm-194.7-98C274.7 368 238.2 380 200 380A180 180 0 0 1 20 200 180 180 0 0 1 200 20a180 180 0 0 1 180 180 179 179 0 0 1-34.3 105.5 181 181 0 0 1-40.2 40.2zm21 9c10.4-8.5 19.8-18 28.3-28.3l28.4 28.4c-8.6 10.2-18 19.6-28.3 28.3l-28.4-28.4zM486 486c-3.8 3.8-8.8 6-14 6s-10.4-2-14-6l-89-88.7a263 263 0 0 0 28.3-28.3l88.7 89c3.8 3.8 6 8.8 6 14s-2 10.4-6 14zM200 40a160 160 0 1 0 0 320 160 160 0 1 0 0-320zm0 300a140 140 0 1 1 0-280 140 140 0 1 1 0 280zm112-183a120 120 0 0 0-43.4-55.4A119 119 0 0 0 200 80a10 10 0 1 0 0 20 101 101 0 0 1 93.4 64.2 10 10 0 0 0 12.9 5.7A10 10 0 0 0 312 157z" />
            </svg>
          </button>
        </div>
      </div>

      <!-- section with the search results and the filters -->
      <section class="row justify-content-between w-100">
        <!-- result list (that are generated with VueJS using the DB's response) -->
        <main class="col container whiteOutline" id="searchResultSection">
          <div class="ml-2">
            <!-- error message -->
            <p v-if="nbResults == 0" class="mt-2">
              Aucun résultat correspondant à <em>"{{ name }}"</em>
            </p>
            <!-- results summary -->
            <p v-if="nbResults > 0" class="mt-2">
              {{resultList.length}} résultats sur {{nbResults}} (page {{page}} sur {{nbPages}})
            </p>
          </div>
          <!-- top pagination -->
          <page-box v-if="nbResults > 0" v-bind:page-link-list="pageLinkList"></page-box>
          <!-- the various results -->
          <search-result v-for="result in resultList" v-bind:movie="result" v-bind:key="result.id"></search-result>
          <!-- bottom page-box -->
          <page-box v-if="nbResults > 0" v-bind:page-link-list="pageLinkList"></page-box>
        </main>
      </section>

      <!-- modal for movie details -->
      <div class="modal" tabindex="-1" role="dialog" id="details">
        <div class="modal-dialog modal-xl">
          <div class="modal-content" itemscope itemtype="http://schema.org/Movie">
            <div class="modal-header">
              <h5 class="modal-title ml-auto" itemprop="name">{{ currentMovie.title }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <section class="modal-info">
                <img class="moviePoster loading" v-bind:src="getFullSize(currentMovie.poster_path)"
                  v-bind:alt="getPosterAlt()" item-prop="image">
                <div>
                  <p class="movieYear" v-if="currentMovie.release_date">
                    Année de sortie : {{ getReleaseYear(currentMovie.release_date) }}
                  </p>
                  <p class="movieRating" itemprop="aggregateRating" itemscope
                    itemtype="http://schema.org/AggregateRating">
                    <span class="sr-only" itemprop="ratingValue">
                      {{ Math.ceil(currentMovie.vote_average/2) }}
                    </span>
                    <movie-star v-for="i in Math.ceil(currentMovie.vote_average/2)" v-bind:key="i"></movie-star>
                  </p>
                  <p class="movieGenre">
                    <movie-genre v-for="genre in currentMovie.genre_ids" v-bind:id="genre"
                      v-bind:title="currentMovie.title" v-bind:key="genre"></movie-genre>
                  </p>
                </div>
                <div>

                </div>
              </section>
              <p class="movieOverview p-3" itemprop="description">{{ currentMovie.overview }}</p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary col" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <footer class="whiteOutline" id="viewBottom">
    <a href="https://www.themoviedb.org/"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44"
        viewBox="0 0 185 133.4" <defs>
        <linearGradient id="A" y1="66.7" x2="185" y2="66.7" gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#90cea1" />
          <stop offset=".6" stop-color="#3cbec9" />
          <stop offset="1" stop-color="#00b3e5" />
        </linearGradient>
        </defs>
        <path
          d="M51 66.7h0A17.7 17.7 0 0 1 68.7 49h-.1a17.7 17.7 0 0 1 17.7 17.7h0a17.7 17.7 0 0 1-17.7 17.7h.1a17.7 17.7 0 0 1-17.7-17.7zm82.7-31.3h33a17.7 17.7 0 0 0 17.7-17.7h0A17.7 17.7 0 0 0 166.6 0h-33a17.7 17.7 0 0 0-17.7 17.7h0a17.7 17.7 0 0 0 17.7 17.7zm-113 98h64a17.7 17.7 0 0 0 17.7-17.7h0A17.7 17.7 0 0 0 84.6 98h-64a17.7 17.7 0 0 0-17.7 17.7h0a17.7 17.7 0 0 0 17.7 17.7zm84-49h6.3L125.5 49h-8.3l-9 23.2L99.4 49h-9zm32.5 0h7.8V49H137zm22.2 0h25v-7.2H167V70h15.3v-7.2H167v-6.6h16.3V49h-24zM10 35.4H18V7h10V0H0v7h10zm29 0h7.8V20h15v15.3h7.8V0H62v13.2h-15V0H39zm41.3 0h25v-7.2H88V21h15.3v-7.2H88V7.2h16.3V0h-24zm-79 49H9V57.3l9 27.2h6l9.4-27v27.2h7.8V49H29.5l-8.3 23-8-23H1.2zm112 49H126a24.6 24.6 0 0 0 7.6-1.2 19.5 19.5 0 0 0 6.3-3.4 16.4 16.4 0 0 0 4.4-5.5 16.9 16.9 0 0 0 1.7-7.6 18.5 18.5 0 0 0-1.7-8.2 15.1 15.1 0 0 0-4.5-5.5 18.6 18.6 0 0 0-6.7-3 33.5 33.5 0 0 0-8.1-1h-11.7zm7.8-28.2h4.6a17.4 17.4 0 0 1 4.7.6 11.7 11.7 0 0 1 3.9 1.9 9 9 0 0 1 2.6 3.2 9.9 9.9 0 0 1 1 4.5 11.9 11.9 0 0 1-1 5.1 8.7 8.7 0 0 1-2.7 3.3 10.9 10.9 0 0 1-4 1.8 21.6 21.6 0 0 1-5 .5H121zm36 28.2h14.5a23.1 23.1 0 0 0 4.7-.5 13.4 13.4 0 0 0 4.3-1.7 9.4 9.4 0 0 0 3.1-3 8.5 8.5 0 0 0 1.2-4.7 9.2 9.2 0 0 0-.6-3.2 7.8 7.8 0 0 0-1.6-2.6 8.4 8.4 0 0 0-2.4-1.8 10 10 0 0 0-3.2-1v-.1a9.3 9.3 0 0 0 4.4-2.8 7.4 7.4 0 0 0 1.7-5 8.3 8.3 0 0 0-1.2-4.7 7.9 7.9 0 0 0-3-2.7 12.9 12.9 0 0 0-4.2-1.3 34.4 34.4 0 0 0-4.6-.3h-13.2zm7.8-28.8h5.3a10.8 10.8 0 0 1 1.8.2 5.8 5.8 0 0 1 1.7.6 3.3 3.3 0 0 1 1.2 1.1 3.2 3.2 0 0 1 .5 1.8 3.6 3.6 0 0 1-.4 1.8 3.3 3.3 0 0 1-1.1 1.2 4.8 4.8 0 0 1-1.6.7 8.2 8.2 0 0 1-1.8.2H165zm0 14.2h6a15.1 15.1 0 0 1 2.1.2 7.8 7.8 0 0 1 2 .5 4 4 0 0 1 1.6 1.2 3.1 3.1 0 0 1 .6 2 3.7 3.7 0 0 1-.5 2 4 4 0 0 1-1.2 1.3 4.8 4.8 0 0 1-1.7.7 8.9 8.9 0 0 1-1.8.2h-7z"
          fill="url(#A)" />
      </svg></a>
    <div class="verticalLine"></div>
    <a href="index">Accueil</a>
    <div class="verticalLine"></div>
    <a href="cgu">CGU</a>
    <div class="verticalLine"></div>
    <div id="socialMediaContainer">
      <a href="facebook.com">
        <span class="sr-only">facebook</span>
        <svg xmlns="http://www.w3.org/2000/svg" height="512" width="512" viewBox="0 0 512 512"
          xmlns:v="https://vecta.io/nano">
          <path
            d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256s114.6 256 256 256c1.5 0 3 0 4.5-.1V312.7h-55v-64.1h55v-47.2c0-54.7 33.4-84.5 82.2-84.5 23.4 0 43.5 1.7 49.3 2.5v57.2h-33.6c-26.5 0-31.7 12.6-31.7 31.1v40.8h63.5l-8.3 64.1h-55.2v189.5C433.7 471.4 512 372.9 512 256z" />
        </svg>
      </a>
      <a href="instagram.com">
        <span class="sr-only">instagram</span>
        <svg xmlns="http://www.w3.org/2000/svg" height="682.667" viewBox="0 0 512 512" width="682.667"
          xmlns:v="https://vecta.io/nano">
          <path
            d="M305 256c0 27.063-21.937 49-49 49s-49-21.937-49-49 21.938-49 49-49 49 21.938 49 49zm65.594-86.695c-2.355-6.383-6.113-12.16-10.996-16.902a45.52 45.52 0 0 0-16.902-10.996c-5.18-2.012-12.96-4.406-27.293-5.06-15.504-.707-20.152-.86-59.402-.86s-43.902.148-59.402.855c-14.332.656-22.117 3.05-27.293 5.063a45.47 45.47 0 0 0-16.902 10.996 45.57 45.57 0 0 0-11 16.902c-2.012 5.18-4.406 12.965-5.06 27.297-.707 15.5-.86 20.148-.86 59.402l.86 59.402c.652 14.332 3.047 22.113 5.06 27.293 2.36 6.387 6.113 12.16 10.996 16.902a45.52 45.52 0 0 0 16.902 10.996c5.18 2.016 12.965 4.4 27.297 5.063 15.5.707 20.145.855 59.398.855l59.402-.855c14.332-.652 22.117-3.047 27.297-5.062a48.68 48.68 0 0 0 27.898-27.898c2.012-5.18 4.406-12.96 5.063-27.293.707-15.504.855-20.152.855-59.402l-.855-59.402c-.652-14.332-3.047-22.117-5.062-27.297zM256 331.484c-41.7 0-75.488-33.793-75.488-75.484S214.3 180.516 256 180.516 331.484 214.3 331.484 256 297.688 331.484 256 331.484zm78.47-136.312c-9.742 0-17.64-7.898-17.64-17.64s7.898-17.64 17.64-17.64 17.64 7.898 17.64 17.64-7.898 17.64-17.64 17.64zM256 0C114.637 0 0 114.637 0 256s114.637 256 256 256 256-114.637 256-256S397.363 0 256 0zm146.113 316.605c-.7 15.648-3.2 26.332-6.832 35.684-7.637 19.746-23.246 35.355-42.992 42.992-9.348 3.633-20.035 6.117-35.68 6.832-15.676.715-20.684.887-60.605.887s-44.93-.172-60.6-.887c-15.645-.715-26.332-3.2-35.68-6.832a72.02 72.02 0 0 1-26.039-16.957 72.04 72.04 0 0 1-16.953-26.035c-3.633-9.348-6.12-20.035-6.832-35.68-.723-15.68-.9-20.687-.9-60.6l.887-60.605c.7-15.648 3.195-26.332 6.828-35.684 3.7-9.8 9.48-18.695 16.96-26.035a72.01 72.01 0 0 1 26.035-16.957c9.352-3.633 20.035-6.117 35.684-6.832C211.07 109.172 216.078 109 256 109s44.93.172 60.605.9c15.648.7 26.332 3.195 35.684 6.824a72.06 72.06 0 0 1 26.039 16.961 72.02 72.02 0 0 1 16.953 26.035c3.637 9.352 6.12 20.035 6.836 35.684.715 15.676.883 20.684.883 60.605l-.887 60.605zm0 0" />
        </svg>
        <a href="twitter.com">
          <span class="sr-only">twitter</span>
          <svg xmlns="http://www.w3.org/2000/svg" height="682.667" viewBox="0 0 512 512" width="682.667"
            xmlns:v="https://vecta.io/nano">
            <path
              d="M256 0C114.637 0 0 114.637 0 256s114.637 256 256 256 256-114.637 256-256S397.363 0 256 0zm116.887 199.602c.113 2.52.168 5.05.168 7.594 0 77.645-59.102 167.18-167.184 167.184h0c-33.184 0-64.062-9.727-90.066-26.395a119.51 119.51 0 0 0 14.016.813c27.53 0 52.867-9.39 72.98-25.152-25.723-.477-47.4-17.465-54.895-40.812a58.48 58.48 0 0 0 11.043 1.063c5.363 0 10.56-.723 15.496-2.07-26.887-5.383-47.14-29.145-47.14-57.598l.008-.75c7.918 4.402 16.973 7.05 26.613 7.348-15.777-10.527-26.148-28.523-26.148-48.9 0-10.766 2.9-20.852 7.957-29.535 28.977 35.555 72.28 58.938 121.117 61.395-1.008-4.305-1.527-8.79-1.527-13.398 0-32.437 26.316-58.754 58.766-58.754 16.902 0 32.168 7.145 42.89 18.566 13.387-2.64 25.957-7.53 37.313-14.262-4.395 13.715-13.707 25.223-25.84 32.5 11.887-1.422 23.215-4.574 33.742-9.254-7.863 11.785-17.836 22.137-29.31 30.43zm0 0" />
          </svg>
          <a href="youtube.com">
            <span class="sr-only">youtube</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="682.667" viewBox="0 0 512 512" width="682.667"
              xmlns:v="https://vecta.io/nano">
              <path
                d="M224.113 303.96L307.387 256l-83.273-47.96zM256 0C114.637 0 0 114.637 0 256s114.637 256 256 256 256-114.637 256-256S397.363 0 256 0zm159.96 256.262s0 51.918-6.586 76.953c-3.7 13.703-14.496 24.508-28.2 28.195C356.14 368 256 368 256 368s-99.88 0-125.176-6.852c-13.703-3.687-24.508-14.496-28.2-28.2-6.6-24.77-6.6-76.95-6.6-76.95s0-51.914 6.6-76.95c3.688-13.703 14.758-24.773 28.2-28.46C155.86 144 256 144 256 144s100.14 0 125.176 6.852c13.703 3.688 24.508 14.496 28.2 28.2 6.852 25.035 6.586 77.2 6.586 77.2zm0 0" />
            </svg>
          </a>
    </div>
  </footer>

  <!-- SCROLL TO TOP -->
  <a href="#viewTop" class="btn fade disabled" id="scrollTop"><svg xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 490.7 490.7" height="44" width="44">
      <circle cy="245.4" cx="245.4" r="245.4" fill="#fff" fill-rule="evenodd" />
      <path
        d="M245.3 0C110 0 0 110 0 245.3s110 245.3 245.3 245.3 245.3-110 245.3-245.3S380.6 0 245.3 0zm0 469.3c-123.5 0-224-100.5-224-224s100.5-224 224-224 224 100.5 224 224-100.5 224-224 224zm0-362.6c-6 0-10.7 4.8-10.7 10.7v256c0 6 4.8 10.7 10.7 10.7s10.7-4.8 10.7-10.7v-256c0-6-4.8-10.7-10.7-10.7z" />
      <path
        d="M338.2 195L253 109.8c-4.2-4.2-11-4.2-15 0L152.5 195c-4.2 4.2-4.2 11 0 15s11 4.2 15 0l77.8-77.8L323 210c2 2 4.8 3 7.6 3s5.5-1 7.6-3c4.2-4.2 4.2-11 0-15z" />
    </svg></a>
</body>

</html>